*
  // transition-duration 0.3s

.blog-card__title-wrap
  a
    transition-duration 0.3s
    transition text-decoration 0.5s !important
    text-decoration underline solid transparent !important

  a:hover
    transition text-decoration 0.5s
    text-decoration underline solid Currentcolor !important

:root
  margin 0
  background #372d4e
  --primary-color #ffa756

html
  --blog-hero__img-outline-width calc(100% - 10px)
  --about-progress 10%

.progress-line__bar
  width var(--about-progress)

.approach-sec__topnav__item--active a
  color white !important

.map__dot--active
  .map__dot__line
    opacity 1 !important
    width 1px
    transition-duration 0.1s

.map__fg-img
  transform translateZ(0)

.blog-post__share svg
  color black
  transition-duration 0.3s

  &:hover
    color var(--primary-color)

@media screen and (min-width 992px)
  .map-sec__card::before, .features-sec__img-wrap::before, .blog-hero__img-wrap::before
    position absolute
    content ''
    width calc(100% - 30px)
    height calc(100% - 30px)
    border-radius 16px
    top 60px
    left 60px
    z-index -1 !important
    border 3px solid var(--primary-color)

  .features-sec__img-wrap::before
    z-index 10 !important

  .features-sec__item.is-reversed
    .features-sec__info
      margin-left auto !important

    .features-sec__img-wrap
      margin-right 100px !important

  .blog-hero__img-wrap::before
    width var(--blog-hero__img-outline-width)

@media screen and (max-width 991px)
  .map-sec__cards-wrapin
    // height 360px !important
    width 400px !important

  .map-sec__cards
    // display block

  .map-sec__card-wrap
    // width 370px !important

  .map__dot__line
    display none

@media screen and (max-width 478px)
  .map-sec__cards-wrapin
    width 100% !important

  .about-sec__slider
    overflow visible !important

.intro-sec__video iframe
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  pointer-events none

.map__fg-img-wrap img
  width 100% !important
  height auto !important

@media (max-aspect-ratio 16 / 9)
  .intro-sec__video iframe
    height 300%
    top -100%

@media (min-aspect-ratio 16 / 9)
  .intro-sec__video iframe
    width 300%
    left -100%
